
<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.1.1
* @link https://tabler.io
* Copyright 2018-2025 The Tabler Authors
* Copyright 2018-2025 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fehler - Druck Universum</title>
    <link href="/DruckUniversum/assets/css/tabler.min.css" rel="stylesheet">
</head>
<body class="border-top-wide border-primary">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="empty">
            <div class="empty-header">{{ errCode }}</div>
            <p class="empty-title">{{ errTitle }}</p>
            <p class="empty-subtitle text-secondary">{{ errMessage }}</p>
            <div class="empty-action">
                <a href="/DruckUniversum" class="btn btn-primary btn-4">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-2"
                    >
                        <path d="M5 12l14 0" />
                        <path d="M5 12l6 6" />
                        <path d="M5 12l6 -6" />
                    </svg>
                    Zurück zur Designübersicht
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/DruckUniversum/assets/js/tabler.min.js"></script>
</body>
</html>
