{% block title %}Login erfolgreich{% endblock %}


{% block body %}
    <div class="container">
        <h2>Login erfolgreich!</h2>
        <p>Willkommen, {{ vorname }} {{ name }}!</p>
        <a href="/">Zur Startseite</a>
    </div>
{% endblock %}